dconf/
pulse/
rofi/
spotify/
systemd/
google-chrome/
chrome-flags.conf
xfce4/
btop/
grub2-themes/
go/
ranger/
teams-for-linux/
mpv/
Thunar/
bluetuith/
yay/
pavucontrol.ini
StarUML/
libreoffice/
mimeapps.list
nvim/
discord/
