dconf/
pulse/
rofi/
spotify/
systemd/
google-chrome/
chrome-flags.conf
xfce4/
btop/
grub2-themes/
go/
ranger/
teams-for-linux/
mpv/
Thunar/
bluetuith/
yay/
pavucontrol.ini
StarUML/
libreoffice/
mimeapps.list
discord/
eww/
gtk-3.0/
htop/
obsidian/
user-dirs.dirs
user-dirs.locale
Electron/
Cursor/
JetBrains/
QtProject.conf
bleachbit/
fish/
kconf_updaterc
kde.org/
session/
