* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono NF;
  font-size: 15px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

.modules-left {
  background-color: #888C8D;
  border-radius: 5px;
  padding: 0px 5px;
}

.modules-center {
  background-color: #888C8D;
  border-radius: 5px;
  padding: 0px 5px;
}

.modules-right {
  background-color: #888C8D;
  border-radius: 5px;
  padding: 0px 5px;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  margin: 6px 3px;
  color: #D2D2D2;
  padding: 0 5px;
}

#workspaces button.active {
  color: #3F3F3F;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#tray,
#clock {
  margin: 6px 3px;
  color: #D2D2D2;
  padding: 0 5px;
}

#tray {
  padding-right: 0;
}

#pulseaudio,
#backlight,
#battery {
  margin: 6px 3px;
  color: #D2D2D2;
  padding: 0 5px;
}

#battery {
  padding-right: 0;
}

@keyframes blink {
  to {
    color: #3F3F3F;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #D2D2D2;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  font-family: JetBrainsMono NF;
  color: #D2D2D2;
  font-size: 12px;
  padding-right: 10px;
}

tooltip {
  border-radius: 5px;
  background-color: #3F3F3F;
}

tooltip label {
  font-size: 12px;
}

#custom-archlogo {
  color: #3F3F3F;
  padding: 0 5px;
}

#custom-power,
#custom-lock,
#custom-logout,
#custom-suspend,
#custom-reboot {
  margin: 6px 3px;
  color: #3F3F3F;
  padding: 0 5px;
}

#custom-power {
  padding-right: 8px;
}
