* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono NF;
  font-size: 16px;
}

window#waybar {
  background-color: #000000;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

.modules-left {
  background-color: #888C8D;
  border-radius: 30px;
  padding-right: 10px;
  margin: 5px;
}

.modules-center {
  background-color: #888C8D;
  border-radius: 30px;
  padding: 0px 10px;
  margin: 5px;
}

.modules-right {
  background-color: #888C8D;
  border-radius: 30px;
  padding: 0px 10px;
  margin: 5px;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 12px;
  margin: 6px 3px;
  color: white;
}

#workspaces button.active {
  color: white;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#tray,
#clock {
  margin: 6px 3px;
  padding: 6px 9px;
  color: white;
}

#tray {
  padding-left: 3px;
}

#pulseaudio,
#backlight,
#battery {
  margin: 6px 3px;
  padding: 6px 7px;
  color: white;
}

@keyframes blink {
  to {
    color: #181825;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: #1e2030;
}

#clock {
  font-family: IosevkaTermSlab NFM Bold;
  color: white;
  font-size: 14px;
  padding-left: 0;
}

tooltip {
  border-radius: 20px;
  padding: 15px;
}

tooltip label {
  padding: 5px;
  font-size: 14px;
}

#custom-archlogo {
  margin: 6px 3px;
  padding: 6px 9px;
  padding-left: 10px;
  color: white;
}

#custom-power,
#custom-lock,
#custom-logout,
#custom-suspend,
#custom-reboot {
  margin: 6px 3px;
  padding: 0px 10px;
  color: white;
}

#custom-power,
#custom-lock {
  padding-left: 1px;
}

#custom-suspend {
  padding-right: 3px;
}
